@import "tailwindcss";
@theme {
    --color-maincolor: #006584;
    --color-secendcolor: #ffd400;
    --color-therrtcolor: #037235;
}


/* body{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
} */