@import "tailwindcss";
@theme {
    --color-maincolor: #006584;
    --color-secendcolor: #ffd400;
    --color-therrtcolor: #037235;
}
body {
  font-family: "Inter", sans-serif;
   /* الوزن الافتراضي */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.light-text {
  font-weight: 300;
}

.bold-text {
  font-weight: 600;
}
