@import "tailwindcss";
  @theme {
      --color-maincolor: #006584;
      --color-secendcolor: #ffd400;
      --color-therrtcolor: #037235;
  }
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.light-text {
  font-weight: 300;
}

.bold-text {
  font-weight: 600;
}
@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 5px #f59e0b, 0 0 10px #f59e0b, 0 0 20px #f59e0b; /* اللون اللي تحبه */
  }
  50% {
    box-shadow: 0 0 15px #f59e0b, 0 0 25px #f59e0b, 0 0 40px #f59e0b;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 1.5s infinite;
}
